{% extends 'base.html' %}

{% block title %} SETTINGS {% endblock %}
{% block page_name %} CHANGE PASSWORD {% endblock %}
{% block utils %}{% endblock %}
{% block content %}
    {% block navbar %}{% endblock %}
    <div class="">
    <div class="">
    <form method="post" class="mx-auto mt-4 border-black border rounded-lg text-green-800 bg-yellow-300 text-lg lg:text-xl lg:w-4/5 p-2 font-bold">
        {% csrf_token %}
            <div class="">
                <label class="font-serif">old Password: </label>
                <div>{{ form.old_password }}</div>
            </div>
            <div class="">
                <label class="font-serif">new password: </label>
                <div>{{ form.new_password1 }}</div>
            </div> 
            <div class="">
                <label class="font-serif">confirm password: </label>
                <div>{{ form.new_password2 }}</div>
            </div>   
            {% if form.errors or form.non_field_errors %}
            <div class="">
                <div class="bg-red-700 p-1 border-white rounded-2xl text-white">
                    <ul>
                    {% for field in form%}
                        <li>
                            {{ field.errors }}
                        </li>
                    {% endfor %}
                    {{ form.non_field_errors }}
                    </ul>
                </div>
            </div>
            {% endif %}

             <button  class="bg-green-800 hover:bg-green-500 text-yellow-300 hover:text-white border border-black rounded-lg p-2 mt-4 mb-2" method="post"> UPDATE </button>
        </form>
    </div>
    </div>
{% endblock %}